:root {
  --body-color: rgb(0, 51, 102);
  --primary-color: #fbf7c6;
  --secondary-color: red;
  --headerfooter-color: black;
  --text-color: #fff371;
  --text-color2: rgb(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: "Roboto", sans-serif;
}

/* seção de header da pagina*/
header {
  background-color: var(--headerfooter-color);
  width: 100%;
  color: var(--text-color);
}

.container {
  margin: 0 10rem;
  padding: 2rem 0;
}

nav {
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
}
ul {
  display: inline-block;
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
.logo {
  font-size: 2rem;
  padding-left: 0;
}
.navLink {
  margin-left: 3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 1rem rgba(194, 194, 194, 0.3);
}
.navLink:hover {
  border: 2px solid var(--text-color);
  box-shadow: 1rem 1rem 1rem rgba(247, 247, 247, 0.3);
}

section {
  background-color: var(--primary-color);
  margin-bottom: 4rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

h1 {
  font-family: "Playfair Display", serif;
}

.image,
.gameResume {
  display: inline-block;
  vertical-align: top;

  height: 480px;
}

.gameResume {
  width: 40%;
  color: var(--text-color2);
}

.gameResume > h1 {
  padding-bottom: 2rem;
}
.gameResume > p {
  padding-bottom: 2rem;
}
.gameResume > button {
  display: block;
  margin: 1rem 0;
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.gameResume > button > a {
  color: var(--text-color2);
  font-size: 1.5rem;
}

.fab {
  font-size: 2rem;
  color: #34a853;
}
.image {
  width: 59%;
}

.image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.carouselBanner {
  width: 50%;
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}
.carouselBanner > img {
  width: 100%;
  height: 280px;
}

.lastCharacters > h1 {
  display: block;
  text-align: center;
  padding-bottom: 2rem;
}
.characters > h1,
.artifacts > h1 {
  padding: 0.5rem;
}
.artifacts,
.characters {
  display: inline-block;
  width: 49.5%;
  height: 300px;
  background-color: var(--body-color);
  vertical-align: top;
  border-radius: 2rem;
  color: var(--primary-color);
}

.lastCharacters > h1 {
  color: var(--body-color);
}
.character > img,
.artifact > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.titleCharacters {
  text-align: right;
}

.titleArtifacts,
.titleCharacters {
  padding: 0 0.5rem;
}

.artifact,
.character {
  display: inline-block;
  width: 30%;
  height: 200px;
  vertical-align: top;
}
.artifacts > .artifact1 {
  margin-left: 2.25rem;
}
.characters > .character1 {
  margin-left: 0.2rem;
}

.tabela-eventos {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.tabela-eventos th,
.tabela-eventos td {
  border: 2px solid var(--headerfooter-color);
  padding: 8px;
}

.tabela-eventos th {
  background-color: var(--headerfooter-color);
  color: var(--text-color);
}

.tabela-eventos th:nth-child(2),
.tabela-eventos td:nth-child(2) {
  width: 50%;
}

.form-container {
  border: 1px solid #4a5cd2;
  border-radius: 10px;
  background-color: #8998fd;
  padding: 1rem;
}

h2 {
  text-align: center;
}

form {
  display: block;
  width: 100%;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.buttonFooter {
  width: 100%;
  padding: 0.75rem;
  margin-top: 20px;
  border: 0.25rem solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
}

footer {
  background-color: var(--headerfooter-color);
  color: var(--text-color);
  padding: 1.5rem 0;
  text-align: center;
}
